<!DOCTYPE html>
<html>
	{% load static %}
<head>
	<title>Log in</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="google-signin-client_id" content="342713268042-he9liv9f0btbgr88grm92g7bdaqq96h2.apps.googleusercontent.com">
	<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href={% static 'style.css' %}>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>
	<h2>Login</h2>
	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit">Login</button>
	</form>
   	<br>
  	<p><strong>-- OR --</strong></p>
	<a class="g-signin2" data-onsuccess="onSignIn" href="#"></a><br>
</body>
</html>