<!DOCTYPE html>
<html>
{% load static %}
<head>
	<title>Registration Form</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href={% static 'style.css' %}>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="{% static 'loader.js' %}"></script>
	<script src="{% static 'story10.js' %}"></script>
</head>
<body>
	<div class="nav">
		<a href="{% url 'profile' %}">Profile</a>
		<a href="{% url 'library' %}">Books</a>
	</div>
	<h1>Subscribe to My Site!</h1>
	<div class="container">
		<div class="forms">
			<form class="subform" method="POST">
				{% csrf_token %}
				{{ forms }}
				<input class="submit" id="submit_subscribe" disabled="disabled" type="submit" value="Register">
			</form>
			<div style="overflow-x: auto; border-radius: 3px;">
				<table id="users">
				</table>
			</div>
		</div>
	</div>
</body>
</html>