body {
	padding: 1rem;
	font-family: 'Nunito', sans-serif;
	background: linear-gradient(to right top, #0062f6, #aa38d2, #e30099, #f60059, #eb1212);
	background-attachment: fixed;
	background-repeat: no-repeat;
  box-sizing: border-box;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  /* change if the mask should have another color then white */
  z-index: 99;
  /* makes sure it stays on top */
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif);
  /* path to your loading animation */
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */
}

table {
  border-radius: 3px;
  width: 100%;
  border-spacing: 0;
  background: white;
  overflow-x: auto;
}

td, tr {
  padding: 1rem;
}

th {
  padding: 2rem;
  background: #ADC5CF;
}

.nav a {
  color: white;
  margin-right: 10px;
  text-decoration: underline;
}

.buttons input {
  width: 20%;
  background: white;
  color: #005DFF;
  font-family: 'Nunito', sans-serif;
  border: 2px solid white;
}

.buttons input:hover {
  background: transparent;
  color: white;
  transition: 0.4s;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

input {
	width: 100%;
	padding: 1rem;
	margin: 1rem 0;
	display: inline-block;
	border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

h2 {
	margin: 0;
	font-size: 2rem;
}

h1 {
	color: white;
	font-size: 4rem;
	text-align: center;
}

a {
	margin-top: 2rem;
	text-decoration: none;
	color: #0066FF;
}

.forms {
  background: white;
  margin: 2rem;
  padding: 1rem;
  border-radius: 3px;
}

.forms input {
  margin: 1rem 0;
}

#submit_subscribe {
  width: auto;
  color: white;
  font-family: inherit;
  background: blue;
  cursor: pointer;
}

.container {
  margin: 1rem;
}

.button {
	padding: 1rem;
	margin-bottom: 2rem;
	font-family: inherit;
	color: #f442d4;
	border: 1px #f442d4 solid;
	border-radius: 3px;
	background-color: white;
}

.button:hover {
	border: 1px white solid;
	background-color: #f442d4;
	color: white;
}

.switcher-buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.statusform, .statusposts, .profile {
	padding: 2rem;
	margin: 2rem;
	background-color: white;
	border-radius: 3px;
}

.statusbar {
	width: 100%;
}

.profile {
	display: flex;
}

.accordion {
    background-color: white;
    color: #0066FF;
    cursor: pointer;
    padding: 1rem;
    width: 100%;
    border-radius: 10px;
    border: 2px solid transparent;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: transparent;
    color: white;
}

.panel {
    padding: 0 1rem;
    margin-bottom: 1rem;
    max-height: 0;
    background-color: transparent;
    color: white;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.panel a {
	color: #ffaaec;
}

.accordion-container {
	padding: 0 2rem;
	margin: 0;
}

.description {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.posted {
	display: flex;
	flex-direction: column;
	overflow-wrap: break-word;
}

#foto {
	width: 300px;
	height: 300px;
	margin: 1rem;
	border-radius: 50%;
	object-fit: cover;
}

#name {
	font-size: 3rem;
}

#darkmode {
	color: white;
}

@media screen and (max-width: 820px) {
	.description {
		flex-direction: column;
	}

	.profile {
		flex-direction: column;
	}

	#foto {
		width: 200px;
		height: 200px;
		margin: 0;
	}

	#name {
		font-size: 2rem;
	}

  .buttons {
    flex-direction: column;
  }

  .buttons input {
    width: 100%;
  }
}
