<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>Library</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="342713268042-0s0c2ju1emidadgj9kfm015ksgbibsr3.apps.googleusercontent.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href={% static 'style.css' %}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://apis.google.com/js/api.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src={% static 'library.js' %}></script>
    <style type="text/css">
        header {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            overflow-wrap: break-word;
            word-wrap: break-word;
        }

        .log {
            background: white;
            padding: 1rem;
            border-radius: 5px;
        }

        .log:hover {
            background: transparent;
            color: white;
            border: 2px solid white;
            transition: 0.4s;
        }

        @media screen and (max-width: 50em) {
            h1 {
                font-size: 3rem;
            }
        }
    </style>
</head>
<body>
    <div class="nav">
        <a href="{% url 'profile' %}">Profile</a>
        <a href="{% url 'home' %}">Status</a>
    </div>
        {% if user.is_authenticated %}
            <header>
                <h1>Hello, {{ user.first_name }} {{ user.last_name }}</h1>
                <a class="log" href= "{% url 'logout'%}">Log Out</a>
            </header>
            {% else %}
            <header>
                <h1>Welcome to the library!</h1>
                <a class="log" href="{% url 'social:begin' 'google-oauth2' %}" data-onsuccess="onSignIn">Log in with Google</a>
            </header>
        {% endif %}
        <div class="container">
            <div style="text-align: right;">
                <h4 id="fav" style="color: white;"><span style="color: #F9F871;" class="fa fa-star"></span>0</h4>
            </div>
            <div class="buttons">
                <input id="arch" type="button" name="architecture" value="Architecture">
                <input id="comics" type="button" name="comics" value="Comics">
                <input id="quilting" type="button" name="quilting" value="Quilting">
            </div>
            <div style="overflow-x: auto; border-radius: 3px;">
                <table id="book">
                </table>
            </div>
        </div>
    </div>
</body>
</html>