<!DOCTYPE html>
<html>
	{% load static %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href={% static 'style.css' %}>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="{% static 'script.js' %}"></script>
	<script src="{% static 'loader.js' %}"></script>
<head>
	<title>Profile</title>
</head>
<body>
	<div id="preloader">
	  <div id="status">&nbsp;</div>
	</div>
	<h1 style="margin: 1rem 0">Profile</h1>
	<div class="switcher-buttons">
		<h4 id="darkmode">Turn off the lights, please.</h4>
		<label class="switch">
		  <input id="darkmode-switch" type="checkbox">
		  <span class="slider round"></span>
		</label>
	</div>
	<div class="profile">
		<img id="foto" src="https://i.imgur.com/BIAS1A3.jpg">
		<div class="description">
			<h2 id="name">Prissy Azzahra Ratnadwita</h2>
			<p>A front end web development enthusiast who is a passionate coder, and is ardent about learning new things.</p>
			<p>I made this website to hopefully pass my Web Design and Development class. So please pray that I will pass with flying colors!</p>

			<a href="{% url 'home' %}">Post your statuses here!</a>
			<a href="{% url 'library' %}">Look for books here!</a>
			<a href="{% url 'registration' %}">Subscribe!</a>
		</div>
	</div>
	<div class="accordion-container">
		<button class="accordion">Current Activities</button>
		<div class="panel">
		  <p>Currently trying to pass my classes with decent grades.</p>
		</div>

		<button class="accordion">Organizations and Commitees</button>
		<div class="panel">
		  <ul>
		  	<li>Vice Person-In-Charge (to be) for CGT 2019</li>
		  	<li>Staff of Liaison Officer for OH Fasilkom UI</li>
		  	<li>Junior Member of Web Development SIG Ristek Fasilkom UI</li>
		  </ul>
		</div>

		<button class="accordion">Achievements</button>
		<div class="panel">
		  <p>Being able to survive in Information Systems until this very day.</p>
		</div>
	</div>
</body>
</html>