<!DOCTYPE html>
<html>
	{% load static %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href={% static 'style.css' %}>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="{% static 'loader.js' %}"></script>
<head>
	<title>Status Page</title>
</head>
<body>
	<div id="preloader">
	  <div id="status"></div>
	</div>
	<div class="nav">
		<a href="{% url 'profile' %}">Profile</a>
		<a href="{% url 'library' %}">Books</a>
	</div>
	<h1>Hello, Apa kabar?</h1>
	<form method="POST", action="{% url 'home' %}">
		{% csrf_token %}
		<div class="statusform">
			<h2>How's your day?</h2>
			<div class="statusbar">
				<div class="fields">
					{% for field in form %}
						<p>{{ field }}</p>
					{% endfor %}
				</div>
				<button id="submit" type="submit" class="button">Submit</button>
			</div>
		</div>
	</form>
	<div class="statusposts">
		<h2>Statuses</h2>
		{% if allStatus %}
		<div class="posted">
			{% for statuses in allStatus %}
				<h3>{{ statuses.status }}</h3>
				{{ statuses.created_at }}
			{% endfor %}
			<a href="{% url 'delete' %}">Clear Statuses</a>
		</div>
		{% else %}
			<h5 style="color: grey">Your statuses will be shown here!</h5>
		{% endif %}
	</div>
</body>
</html>